@charset "UTF-8";

/*
    em HTML é id = em CSS é # (so pode um elemento)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body {
    background-color: #B0A990;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #202030;
}

h1#principal {
    text-align: center;
    background-color: #39304A;
    color: #635C51;
}

h2 {
    color: #39304A;
}

.basico {
    color: #1b255e;
}

.intermediario {
    color: #356839;
}

.avancado {
    color: #79211e;
}

.destaque {
    background-color: #72721b3b;
}
